html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: #1552ed;
}